In [1]:
# Import NumPy as its abbreviation 'np'
import numpy as np

In [2]:
# Create a 1-dimensional NumPy array using np.array()
a1 = np.array([1, 3, 5])

# Create a 2-dimensional NumPy array using np.array()
a2 = np.array([[1, 3, 4], 
               [5, 6, 7]])

# Create a 3-dimensional Numpy array using np.array()
a3 = np.array([[[1, 3, 4],
               [5, 6, 7],
               [6, 7, 8]]])

In [3]:
# Attributes of 1-dimensional array (shape, 
# number of dimensions, data type, size and type)

a1.shape, a2.shape, a3. shape

((3,), (2, 3), (1, 3, 3))

In [4]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [5]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [6]:
a1.size, a2.size, a3.size

(3, 6, 9)

In [7]:
# Import pandas and create a DataFrame out of one
# of the arrays you've created

import pandas as pd

In [11]:
a1_pd = pd.DataFrame(a2)

In [12]:
a1_pd

   0  1  2
0  1  3  4
1  5  6  7

In [14]:
# Create an array of shape (10, 2) with only ones
array_ones = np.ones((10, 2))

In [15]:
array_ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [16]:
# Create an array of shape (7, 2, 3) of only zeros
array_zeros = np.zeros((7, 2, 3))

In [17]:
array_zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [22]:
# Create an array within a range of 0 and 100 with step 3

num_step3 = np.arange(0, 100, 3)

In [23]:
num_step3

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [24]:
# Create a random array with numbers between 0 and 10 of size (7, 2)

random_num1 = np.random.randint(0, 10, size=(7,2))

In [25]:
random_num1

array([[7, 7],
       [9, 8],
       [6, 5],
       [1, 9],
       [1, 4],
       [4, 5],
       [6, 8]])

In [28]:
# Create a random array of floats between 0 & 1 of shape (3, 5)

random_num2 = np.random.random(size=(3, 5))
random_num2

array([[0.810525  , 0.8058575 , 0.19626999, 0.6910782 , 0.1809738 ],
       [0.65650407, 0.06099948, 0.37165739, 0.73238468, 0.42381544],
       [0.5261053 , 0.83367741, 0.11483157, 0.12906137, 0.44161416]])

In [38]:
# Set the random seed to 42

np.random.seed(42)

# Create a random array of numbers between 0 & 10 of size (4, 6)

random_num3 = np.random.randint(0, 10, size=(4, 6))
random_num3

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [40]:
# Create an array of random numbers between 1 & 10 of size (3, 7)
# and save it to a variable

random_num4 = np.random.randint(1, 10, size=(3, 7))

# Find the unique numbers in the array you just created
np.unique(random_num4)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
random_num4

array([[7, 8, 3, 1, 4, 2, 8],
       [4, 2, 6, 6, 4, 6, 2],
       [2, 4, 8, 7, 9, 8, 5]])

In [44]:
# Find the 0'th index of the latest array you created

random_num4[0][0]

7

In [46]:
# Get the first 2 rows of latest array you created

random_num4[:2, :]

array([[7, 8, 3, 1, 4, 2, 8],
       [4, 2, 6, 6, 4, 6, 2]])

In [47]:
# Get the first 2 values of the first 2 rows of the latest array
random_num4[:2, 0]

array([7, 4])

In [48]:
# Create a random array of numbers between 0 & 10 and an array of ones
# both of size (3, 5), save them both to variables

random_num5 = np.random.randint(0, 10, size=(3, 5))
random_ones = np.ones((3, 5))

In [49]:
random_num5, random_ones

(array([[1, 4, 7, 9, 8],
        [8, 0, 8, 6, 8],
        [7, 0, 7, 7, 2]]),
 array([[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]))

In [50]:
# Add the two arrays together

random_num5 + random_ones

array([[ 2.,  5.,  8., 10.,  9.],
       [ 9.,  1.,  9.,  7.,  9.],
       [ 8.,  1.,  8.,  8.,  3.]])

In [51]:
# Create another array of ones of shape (5, 3)

array_ones = np.ones((5, 3))

In [54]:
# Try add the array of ones and the other most recent array together

array_ones + random_num5

ValueError: operands could not be broadcast together with shapes (5,3) (3,5)

In [55]:
# you can transpose
array_ones + random_num5.T

array([[ 2.,  9.,  8.],
       [ 5.,  1.,  1.],
       [ 8.,  9.,  8.],
       [10.,  7.,  8.],
       [ 9.,  9.,  3.]])

In [56]:
# Create another array of ones of shape (3, 5)

array_ones2 = np.ones((3,5))

In [57]:
# Subtract the new array of ones from the other most recent array

random_num5 - array_ones2

array([[ 0.,  3.,  6.,  8.,  7.],
       [ 7., -1.,  7.,  5.,  7.],
       [ 6., -1.,  6.,  6.,  1.]])

In [58]:
# Multiply the ones array with the latest array

random_num5 * array_ones2

array([[1., 4., 7., 9., 8.],
       [8., 0., 8., 6., 8.],
       [7., 0., 7., 7., 2.]])

In [59]:
# Take the latest array to the power of 2 using '**'

random_num5 ** 2

array([[ 1, 16, 49, 81, 64],
       [64,  0, 64, 36, 64],
       [49,  0, 49, 49,  4]])

In [60]:
# Do the same thing with np.square()

np.square(random_num5)

array([[ 1, 16, 49, 81, 64],
       [64,  0, 64, 36, 64],
       [49,  0, 49, 49,  4]])

In [65]:
# Find the mean of the latest array using np.mean()

np.mean(random_num5)

5.466666666666667

In [66]:
# Find the maximum of the latest array using np.max()

np.max(random_num5)

9

In [68]:
# Find the minimum of the latest array using np.min()

np.min(random_num5)

0

In [69]:
# Find the standard deviation of the latest array

np.std(random_num5)

3.0739045022396008

In [71]:
# Find the variance of the latest array

np.var(random_num5)

9.448888888888888

In [72]:
# Reshape the latest array to (3, 5, 1)

array_ones2.shape

(3, 5)

In [73]:
array_ones2.reshape(3,5,1)

array([[[1.],
        [1.],
        [1.],
        [1.],
        [1.]],

       [[1.],
        [1.],
        [1.],
        [1.],
        [1.]],

       [[1.],
        [1.],
        [1.],
        [1.],
        [1.]]])

In [75]:
random_num5.T

array([[1, 8, 7],
       [4, 0, 0],
       [7, 8, 7],
       [9, 6, 7],
       [8, 8, 2]])

In [76]:
# Create two arrays of random integers between 0 to 10
# one of size (3, 3) the other of size (3, 2)

ran1 = np.random.randint(0, 10, size=(3, 3))
ran2 = np.random.randint(0, 10, size=(3, 2))

In [77]:
ran1, ran2

(array([[0, 7, 2],
        [2, 0, 4],
        [9, 6, 9]]),
 array([[8, 6],
        [8, 7],
        [1, 0]]))

In [78]:
# Perform a dot product on the two newest arrays you created

ran1.shape, ran2.shape

((3, 3), (3, 2))

In [79]:
np.dot(ran1, ran2)

array([[ 58,  49],
       [ 20,  12],
       [129,  96]])

In [80]:
# Create two arrays of random integers between 0 to 10
# both of size (4, 3)

ran3 = np.random.randint(0, 10, size=(4, 3))
ran4 = np.random.randint(0, 10, size=(4, 3))

In [81]:
ran3, ran4

(array([[6, 6, 7],
        [4, 2, 7],
        [5, 2, 0],
        [2, 4, 2]]),
 array([[0, 4, 9],
        [6, 6, 8],
        [9, 9, 2],
        [6, 0, 3]]))

In [82]:
# Perform a dot product on the two newest arrays you created

np.dot(ran3, ran4)

ValueError: shapes (4,3) and (4,3) not aligned: 3 (dim 1) != 4 (dim 0)

In [84]:
# Take the latest two arrays, perform a transpose on one of them and then perform 
# a dot product on them both

np.dot(ran3, ran4.T)

array([[ 87, 128, 122,  57],
       [ 71,  92,  68,  45],
       [  8,  42,  63,  30],
       [ 34,  52,  58,  18]])

In [85]:
# Compare the two arrays with '>'

ran3 > ran4

array([[ True,  True, False],
       [False, False, False],
       [False, False, False],
       [False,  True, False]])

In [86]:
# Compare the two arrays with '>='

ran3 >= ran4

array([[ True,  True, False],
       [False, False, False],
       [False, False, False],
       [False,  True, False]])

In [89]:
# Find which elements of the first array are greater than 7

ran4 > 7

array([[False, False,  True],
       [False, False,  True],
       [ True,  True, False],
       [False, False, False]])

In [90]:
# Which parts of each array are equal? (try using '==')

ran3 == ran4

array([[False, False, False],
       [False, False, False],
       [False, False, False],
       [False, False, False]])

In [91]:
# Sort one of the arrays you just created in ascending order

np.sort(ran3)

array([[6, 6, 7],
       [2, 4, 7],
       [0, 2, 5],
       [2, 2, 4]])

In [92]:
# Sort the indexes of one of the arrays you just created

np.argsort(ran3)

array([[0, 1, 2],
       [1, 0, 2],
       [2, 1, 0],
       [0, 2, 1]])

In [93]:
# Find the index with the maximum value in one of the arrays you've created

np.argmax(ran3)

2

In [94]:
# Find the index with the minimum value in one of the arrays you've created

np.argmin(ran3)

8

In [95]:
# Find the indexes with the maximum values down the 1st axis (axis=1)
# of one of the arrays you created

np.argmax(ran3 ,axis=1)

array([2, 2, 0, 1])

In [96]:
# Find the indexes with the minimum values across the 0th axis (axis=0)
# of one of the arrays you created

np.argmin(ran3, axis=0)

array([3, 1, 2])

In [106]:
# Create an array of normally distributed random numbers

np.random.randn(3, 5)

array([[ 1.79428084,  0.58068954,  0.29765045, -1.02811577, -1.41859646],
       [ 0.19033698,  0.13575383,  0.60808966,  0.70498131,  0.36092338],
       [-1.46696789,  0.89262947, -0.10525713, -0.95534644, -0.41476463]])

In [104]:
# Create an array with 10 evenly spaced numbers between 1 and 100

arr = np.linspace(1, 100, 10)

In [105]:
arr

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])